.git
.github
.idea
.vscode
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/app/public
.env
.env.*
coverage
tests
Dockerfile
docker-compose.yml
docker-compose.override.yml
